./perceptrons/mnist_csv
./perceptrons/mnist_csv/*
./perceptrons/mnist_csv/mnist_train.csv
./perceptrons/mnist_csv/mnist_test.csv
*csv
*gz
./perceptrons/__pycache*
./perceptrons/__pycache__
__pycache__

